* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato, sans-serif;
}

.weather-box {
  width: fit-content;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  background-color: rgba(122, 91, 215, 0.547);
  border-radius: 12px;
}
